@font-face {
	font-family: 'UniversLTStd-Light';
	src: url('font/UniversLTStd-Light.otf') format('opentype');
}

@font-face {
	font-family: 'UniversLTStd-Bold';
	src: url('font/UniversLTStd-Cn.otf') format('opentype');
}

body {
	color: #333;
	font-family: 'UniversLTStd-Light', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.navbar-brand img {
	height: 50px;
	margin-top: -15px;
}

@media (min-width:768px) {
	.navbar-default {
		background: transparent;
		border: 0;
		margin-top: 15px;
	}

	.navbar-brand span {
		display: none;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
  		text-shadow: 1px 1px 0px #222;
	}

	.navbar-nav>li {
		margin-right: 5px;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		color: #000;
		background: #fff;
		text-shadow: none;
	}
}

@media (max-width:768px) {
	.navbar-brand span {
		position: relative;
		top: -5px;
	}
}

.container {
	margin: 0 auto;
}

h1 {
	color: #fff;
	font-family: 'UniversLTStd-BoldCn', sans-serif;
	font-weight: bold;
	font-size: 70px;
	text-transform: uppercase;
  		text-shadow: 1px 1px 0px #222;
}

h2 {
	color: #bbb;
	font-family: 'UniversLTStd-Light', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
  		text-shadow: 1px 1px 0px #222;
}

.container.content {
	padding: 25px 0 100px;
}

.container.content ul {
	margin-left: 35px;
}

#contactForm ul {
	margin-left: 5px;
}

.container.content li {
	list-style-type: disc;
	margin-bottom: 10px;
}

#home,
.navigation {
	background: url("../images/walnutcreek.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navigation {
	height: 300px;
}

.content h1 {
	border-bottom: 5px solid black;
	color: #000;
	font-weight: bold;
	margin: 25px auto 75px;
	text-align: center;
	text-shadow: none;
}

.form-control {
	font-size: 16px;
	height: 40px;
}

.container.content .help-block li {
	color: red;
	list-style-type: none;
}

footer {
	background: #222;
	color: #999;
	padding: 50px 0;
}

footer p {
	margin: 0;
}

footer .social {
	overflow: hidden;
	float: right;
}

footer .social li {
	float: left;
	padding-right: 15px;
}

footer .social a {
	color: #999;
	font-size: 30px;
}

footer .social a:hover {
	color: #bbb;
}